# Archivo de ejemplo para configurar variables de entorno
# Copia este archivo como .env y rellena los valores

# Claves para la Testnet
TESTNET_API_KEY=tu_testnet_api_key
TESTNET_API_SECRET=tu_testnet_api_secret

# Claves para la Cuenta Real
REAL_API_KEY=tu_real_api_key
REAL_API_SECRET=tu_real_api_secret

# Configuración para usar Testnet
USE_TESTNET=True

# Configuración de Telegram
TELEGRAM_TOKEN=tu_telegram_token
TELEGRAM_CHAT_ID=tu_telegram_chat_id

# Configuración de Supabase
SUPABASE_URL=https://ajpyfvfkqdttgcswbshd.supabase.co
SUPABASE_KEY=tu_supabase_key
